/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2019, 10:30:23 PM
    Author     : nguyenduchuy
*/

div.empty-box {
    width: 100%;
    height: 25px;
}

div.center-vertical {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
div.center-horizontal {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}